* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
}

.nav-list {
  float: left;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
  line-height: 70px;
}

.nav-list a {
  color: #fafafa;
  text-decoration: none;
}

#mv {
  height: 650px;
  width: 100%;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
}

.mv-text {
  padding-top: 10px;
  font-size: 20px;
}

#portfolio,
#profile {
  background-color: #eceff1;
}

.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}

.production-group {
  padding: 30px 0 90px 0;
  margin: 0 auto;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.production {
  margin: 10px 10px 0 0;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.production:nth-child(-n + 3) {
  margin-top: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

.strength-group {
  margin: 0 auto;
  padding: 30px 0 90px 0;
  width: 980px;
  display: flex;
}

.strength {
  margin-right: 10px;
  width: 320px;
}

.strength:last-child {
  margin-right: 0;
}

.fas {
  width: 320px;
  font-size: 60px;
  text-align: center;
}

.strength-title {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.strength-text {
  text-align: left;
  font-size: 16px;
}

.profile-group {
  padding: 30px 0 90px 0;
  display: flex;
}

.profile-image,
.profile-description {
  width: 50%;
}

.image {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.description-title {
  padding: 20px 0 5px 0;
  font-size: 20px;
}

.description-title:first-child {
  padding-top: 0;
}

.description-text {
  font-size: 16px;
}

.contact-group {
  padding: 30px 0 90px 0;
  margin: 0 auto;
  width: 800px;
  display: flex;
}

.contact-information,
.contact-sns {
  width: 50%;
}

.information,
.sns-icon {
  margin: 0 auto;
  width: max-content;
}

.fab {
  font-size: 50px;
  padding-right: 20px;
}

.fab:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.copyright {
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  header {
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px 0 5px 0;
    border: 1px solid #fafafa;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
    transition: all 0.4s;
  }

  .list-bar:first-child {
    margin-top: 11px;
  }

  .menu-box.active .list-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu-box.active .list-bar:nth-child(2) {
    opacity: 0;
  }

  .menu-box.active .list-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .nav {
    float: none;
  }

  .nav-list {
    display: none;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: rgb(0, 0, 0, 0.5);
  }

  #mv {
    height: 650;
    background-image: url(img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-text {
    font-size: 18px;
  }

  .production-group {
    width: 300px;
  }

  .production {
    margin-right: 0;
  }

  .production:nth-child(odd) {
    display: none;
  }

  .strength-group {
    width: 320px;
    flex-wrap: wrap;
  }

  .strength {
    margin-right: 0;
    padding-top: 30px;
  }

  .strength:first-child {
    padding-top: 0;
  }

  .profile-group {
    flex-wrap: wrap;
  }

  .profile-image,
  .profile-description {
    width: 100%;
    text-align: center;
  }

  .contact-group {
    width: 100%;
    flex-wrap: wrap;
  }

  .contact-information,
  .contact-sns {
    width: 100%;
    text-align: center;
  }

  .description-title:first-child {
    padding-top: 20px;
  }
}
